.voting-chart {
    margin-top: 4em;
    padding-right: 2.5em;
    font-weight: bold;
    border-bottom: 0.125em solid #eeeeee;
}
.voting-item {
    padding-left: 35%;
    margin-top: 1em;
    position: relative;
}
.voting-item-name {
    position: absolute;
    left: -0.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    white-space: nowrap;
    max-width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.progress {
    height: 1.3em;
    margin-bottom: 0.85em;
}
.progress-bar {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    line-height: 1.3em;
    font-size: 0.8em;
}
.pb-text {
    white-space: nowrap;
    position: absolute;
    font-size: 0.85em;
    left: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
